header{
    text-align:center;
}
body{
    background-color:rgb(0, 77, 165);
}
button{
    background-color:rgb(0, 77, 165);
    cursor:pointer;
    border-radius:15%;
}
h1{
    color:rgb(0, 77, 165);
    -webkit-text-stroke-width: 1px; /*Largura da borda*/
    -webkit-text-stroke-color:black; /*Cor da borda*/
}
h2{
    color:rgb(0, 77, 165);
    -webkit-text-stroke-width: 1px; /*Largura da borda*/
    -webkit-text-stroke-color:black; /*Cor da borda*/
}
nav{
    text-align:center;
}
